@import url('https://fonts.googleapis.com/css2?family=Prompt:wght@300;400;600;700&family=Sarabun:wght@300;400;600&display=swap');
@import "tailwindcss";

@theme {
  --font-sans: "Prompt", "Sarabun", ui-sans-serif, system-ui, sans-serif;
  --color-turquoise: #00A8E8;
  --color-sand: #F4D35E;
}

@layer base {
  body {
    @apply font-sans text-slate-900 bg-white;
  }
}
